*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

h1{
	font-family: helvetica;
	text-align: center;
	margin: 20px;
	background-color: blue;
}

p{
	margin: 20px;
	float: left; 
	background-color: yellow;
	width: 45%;
	font-family: helvetica;
	border: 5px solid white;
}
p::after{
	clear: both;
}
/*this is for the image*/
img{
	float: right;
	width: 45%;
	margin: 20px;
}

body{
	background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 51%, rgba(130,234,255,1) 100%);
}